h2   {
  color: blue;
  margin-bottom: 20px;
}

.bluecolor {
  color: blue;
}

.graycolor { 
  color: gray;
}

.redcolor { 
  color: red;
}
div.leavemargin {
  margin-top: 80px;
  margin-bottom: 20px;
}

img.rounded-corners {
  border-radius:30px;
}

.topmargin {
  margin-top: 20px;
}

.bottommargin {
  margin-bottom: 20px;
}

img.topmargin {
  margin-top: 20px;
}

.bigfont {
  font-size: 30px;
}

.rightaligned {
  text-align: right;
}

.centered {
  text-align: center;
}

p.ex1 {
  margin-bottom: 2em;
}

.responsive-image {
  height: auto;
  width: 100%;
}

/* a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
} */
/* a:hover {
  color:red;
  background-color: transparent;
  text-decoration: underline;
} */
/* a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}